body {
    font-family: Arial;
    background-color: #0b6623;
    color: white;
    text-align: center;
}

.cartas {
    margin: 10px;
    font-size: 22px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

#mensaje {
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
}